$mobile: 320px;
$tablet: 768px;
$laptop: 1147px;
$desktop: 1440px;
$monitor: 2560px;

@mixin screen($size) {
  @if $size == $mobile {
    @media (min-width: $mobile) {
      @content;
    }
  }
  @else if $size == $tablet {
    @media (min-width: $tablet) {
      @content;
    }
  }
  @else if $size == $laptop {
    @media (min-width: $laptop) {
      @content;
    }
  }
  @else if $size == $desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
  @else if $size == $monitor {
    @media (min-width: $monitor) {
      @content;
    }
  }
}
